<!-- navigation -->
{{ if not .IsHome }}
<div class="section pb-0"></div>
{{end}}

<header class="header position-absolute w-100 top-0">
  <div class="block mx-auto">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white rounded-sm">
      <!-- navbar brand/logo -->
      <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
        {{ partial "logo.html" . }}
      </a>

      <!-- navbar toggler -->
      <button aria-label="navbar toggler" class="navbar-toggler border-0 h4 mb-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navigation">
        <i class="navbar-open fas fa-bars"></i>
        <i class="navbar-close fas fa-times"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto align-items-center">
          <!-- menu active -->
          {{ $currentPage := . }}
          {{ range site.Menus.main }}
          {{ $menuURL := .URL | absLangURL }}
          {{ $pageURL:= $currentPage.Permalink | absLangURL }}
          {{ $active := eq $menuURL $pageURL }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown {{if .Params.isMenuLarge}}dropdown-lg {{end}}
          {{- range .Children -}}
          {{- $childURL := .URL | absLangURL -}}
          {{- $active := eq $childURL $pageURL -}}
          {{- if $active }}active{{ end -}}
          {{- end -}}">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{.Name}}<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </a>
            <ul class="dropdown-menu">
              {{ range .Children }}
              {{ $childURL := .URL | absLangURL }}
              {{ $active := eq $childURL $pageURL }}
              <li>
                <a class="dropdown-item {{ if $active }}active{{ end }}" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
                href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}">{{.Pre}}{{ .Name }}{{.Post}}</a>
              </li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li class="nav-item {{ if $active }}active{{ end }}">
            <a class="nav-link" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
              href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}">{{.Name}}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>

        {{ if site.Params.navigation_button.enable }}
        <!-- navigation btn -->
        <button class="btn btn-primary ms-lg-4 mt-2 mt-lg-0 mb-3 mb-lg-0" type="button" data-bs-toggle="modal" data-bs-target="#hubspotModal" onclick="loadHbspt()">
          {{- site.Params.navigation_button.label -}}
        </button>
        {{ end }}
      </div>
    </nav>
  </div>
</header>
<!-- /navigation -->

{{ with site.Params.navigation_button }}
<div class="modal" id="hubspotModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body position-relative" style="z-index:1">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div id="hubspotScriptEl"></div>

        <div class="text-center position-absolute translate-middle top-50 start-50" style="z-index:-1">
          <svg width="50" height="50" class="mx-auto" viewBox="0 0 100 100" style="background: none;">
            <circle cx="75" cy="50" fill="#363a3c" r="6.39718">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.875s"></animate>
            </circle>
            <circle cx="67.678" cy="67.678" fill="#363a3c" r="4.8">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.75s"></animate>
            </circle>
            <circle cx="50" cy="75" fill="#363a3c" r="4.8">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.625s"></animate>
            </circle>
            <circle cx="32.322" cy="67.678" fill="#363a3c" r="4.8">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.5s"></animate>
            </circle>
            <circle cx="25" cy="50" fill="#363a3c" r="4.8">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.375s"></animate>
            </circle>
            <circle cx="32.322" cy="32.322" fill="#363a3c" r="4.80282">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.25s"></animate>
            </circle>
            <circle cx="50" cy="25" fill="#363a3c" r="6.40282">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.125s"></animate>
            </circle>
            <circle cx="67.678" cy="32.322" fill="#363a3c" r="7.99718">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="0s"></animate>
            </circle>
          </svg>
        </div>

        <script>
          window.addEventListener('load', (event) => {
            let hubspotScriptEl = document.getElementById("hubspotScriptEl");
            let script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "//js.hsforms.net/forms/v2.js";
            hubspotScriptEl.appendChild(script);
          });
          function loadHbspt() {
            hbspt.forms.create({
              region: "na1",
              portalId: "{{.hubspotPortalId}}",
              formId: "{{.hubspotFormId}}",
              version: "V2_PRERELEASE"
            });
          }
        </script>
      </div>
    </div>
  </div>
</div>
{{ end }}
