// banner
.banner {
  width: 1600px;
  max-width: calc(100% - 20px);
  margin: 0 auto 30px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    height: 70%;
    width: calc(100% + 60px);
    left: -30px;
    bottom: -30px;
    background-color: rgba($color-secondary, 0.1);
    z-index: -1;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .banner-slider {
    height: 760px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    @include desktop {
      height: 800px;
    }
    @include tablet {
      height: 840px;
    }
    @include mobile {
      height: 760px;
    }
    .swiper-slide {
      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba($black, 0.3);
        z-index: 1;
      }
    }
  }
  .block {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    width: 100%;
    transform: translateY(-35%);
    @include desktop {
      transform: translateY(-40%);
    }
    @include tablet {
      transform: translateY(-38%);
    }

    .quick-links {
      user-select: none;
      width: 75%;
      margin-top: 50px !important;
      position: relative;
      @include desktop-xl {
        width: 85%;
      }
      @include desktop-lg {
        width: 100%;
      }
      @include tablet {
        border-radius: 8px !important;
        margin-top: 80px !important;
        padding-left: 4px !important;
        padding-right: 6px !important;
        .btn {
          border-radius: 4px !important;
        }
      }
      @include mobile {
        flex-wrap: wrap;
        background-color: transparent !important;
        .btn {
          margin: 6px;
          margin-bottom: 8px;
          margin-left: auto;
          margin-right: auto;
        }
        .button-block {
          width: 100%;
        }
      }
      @include mobile-xs {
        .btn {
          width: 100%;
        }
      }

      .title-block {
        padding-right: 10px;
        border-right: 1px solid #e4e4e4;
        @include tablet {
          position: absolute;
          top: -44px;
          color: $white;
          border-right: 0 !important;
          margin-left: 0 !important;
          .text-black {
            color: $white !important;
          }
        }
      }

      .dropdown {
        height: 62px;
        line-height: 1.2;
        font-size: 15px;
        @include mobile {
          background-color: $white;
          border-radius: 6px;
        }
        &-menu {
          padding: 10px 20px;
          box-shadow: 0px 4px 15px 5px rgba($black, 0.1);
          &[data-bs-popper] {
            margin-top: -3px;
          }
          &[data-popper-placement="top-start"] {
            bottom: -3px !important;
          }
          &[data-popper-placement="bottom-start"] {
            top: -3px !important;
          }
          li:not(:last-child) a {
            border-bottom: 1px solid #eee;
          }
          li a {
            padding: 15px 0;
            font-size: 15px;
            .icon {
              opacity: 0;
              transform: translateX(-4px);
              transition: 0.25s;
              color: $color-primary;
            }
            &:focus,
            &:hover {
              color: $color-primary;
              background-color: transparent;
              .icon {
                opacity: 1;
                transform: translateX(0px);
              }
            }
          }
        }
      }
    }
  }
  .chakra {
    z-index: 2;
    top: 20px;
    @include desktop {
      opacity: 0.5;
    }
  }

  // review-block
  .review-block {
    padding: 32px 16px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 285px;
    z-index: 5;
    background-color: #96a8a1;
    @include desktop-lg {
      position: static;
      width: auto;
      margin-top: 30px;
    }
    .rating {
      --percent: calc(var(--rating) / 5 * 100%);
      display: inline-block;
      font-size: 25px;
      font-family: Times;
      line-height: 1;
      margin-bottom: 18px;
      &::before {
        content: "★★★★★";
        letter-spacing: 3px;
        background: linear-gradient(
          90deg,
          #fafafa var(--percent),
          #6a6a6a var(--percent)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  // swiper-pagination bullet
  .swiper-pagination {
    bottom: 20px;
    z-index: 55;
  }
}

// facts
.facts {
  .block {
    > div {
      padding: 40px;
      @include desktop-lg {
        padding: 50px 40px 45px;
      }
      @include tablet {
        padding: 50px 30px 45px;
      }
      @include mobile {
        padding: 50px 20px 45px;
      }
    }
    &:nth-child(1) > div {
      background-color: $color-tertiary;
    }
    &:nth-child(2) > div {
      background-color: $color-primary;
    }
    &:nth-child(3) > div {
      background-color: #9bc152;
    }
  }
}

// wellness-solutions
.wellness-solutions {
  .block {
    box-shadow: 0px 5px 10px 5px rgba($black, 0.05);
    position: relative;
    transition: all 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
    &::after {
      position: absolute;
      content: "";
      height: 3px;
      width: calc(100% - 32px);
      background-color: $color-primary;
      left: 16px;
      bottom: -20px;
      transition: inherit;
      transform: scaleX(0);
      border-radius: 5px;
      @include desktop {
        bottom: -8px;
        height: 2px;
      }
    }
    img {
      transition: inherit;
      &.image-active {
        opacity: 0;
      }
    }
    &:hover {
      transform: translateY(10px);
      @include tablet {
        transform: translateY(7px);
      }
      &::after {
        transform: scaleX(1);
      }
      .image-fade {
        opacity: 0;
      }
      .image-active {
        opacity: 1;
      }
      .text-muted {
        color: $black !important;
      }
    }
  }
  .overlay-block {
    .leaf {
      bottom: 5px;
      right: -30px;
    }
  }
}

// how it works
.how-it-works {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  .overlay-block {
    height: calc(100% - (7rem + 90px));
    top: calc(7rem + 90px);
    @include tablet {
      height: calc(100% - (5.5rem + 90px));
      top: calc(5.5rem + 90px);
    }
  }

  .image-block {
    z-index: -1;
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background-color: rgba($black, 0.2);
      top: 0;
      left: 0;
      @extend .rounded;
      z-index: 1;
    }
  }

  .left-block {
    margin-right: -50px;
    z-index: 9;
    position: relative;
    @include desktop {
      margin-top: 0;
      margin-right: 0;
    }
  }

  .quote {
    max-width: 75%;
    padding: 30px 60px;
    margin-top: -100px;
    z-index: 5;
    position: relative;
    margin-bottom: 15px;
    @include desktop {
      margin-top: -50px;
      max-width: 95%;
      border-radius: 16px !important;
    }
    @include tablet {
      padding: 30px;
    }
    @include mobile {
      margin-top: -10px;
      padding: 30px 20px;
    }
  }
}

// testimonials
.testimonials {
  .leaf {
    bottom: 20%;
    left: -20px;
  }
}
.testimonial-swiper {
  .testimonial-item {
    border: 1px solid #ddd;
    box-shadow: 0 7px 10px rgba($black, 0.03);
    .block {
      padding: 30px;
      padding-bottom: 0;
    }
  }
  .reviewer-image {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(
        90deg,
        $white 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: $white;
    border: 1px solid #ddd;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 8px;
    @include mobile {
      margin-top: 0;
    }
    &::after {
      font-size: 18px;
      color: #888;
    }
    &:hover::after {
      color: $color-primary;
    }
  }
  .swiper-button-prev {
    left: -19px;
  }
  .swiper-button-next {
    right: -19px;
  }
}

// lifetime_of_wellness
.lifetime_of_wellness {
  .overlay-block {
    height: calc(100% - (7rem + 35%));
    @include tablet {
      height: calc(100% - (5.5rem + 35%));
    }
  }
  .block {
    background-repeat: repeat !important;
    background-size: 1296px !important;
    animation: 25s bgMove infinite linear;
    background-color: $dark;
    @include tablet {
      animation-duration: 35s;
    }
    @include mobile {
      animation-duration: 45s;
    }
  }
}
@keyframes bgMove {
  100% {
    background-position: 1296px 0;
  }
}

// our locations
.our-locations {
  .overlay-block {
    height: calc(100% - (7rem + 25%));
    @include tablet {
      height: calc(100% - (5.5rem + 25%));
    }
  }
  .map-block {
    padding: 80px;
    @include tablet {
      padding: 40px;
    }
    @include mobile {
      padding: 40px 20px;
    }
  }
}
#chartdiv {
  width: 100%;
  height: 400px;
}

// holistic-doctors
.holistic-doctors {
  .overlay-block {
    height: calc(100% - (7rem + 27%));
    @include tablet {
      height: calc(100% - (5.5rem + 27%));
    }
  }
  .leaf {
    bottom: -20px;
    right: -20px;
  }
  .chakra-1 {
    bottom: 30px;
    left: 30px;
  }
  .holistic-doctors-block {
    padding: 45px 40px;
    box-shadow: 0px 5px 10px 5px rgba($black, 0.05);
    transition: 0.15s;
    @include tablet {
      padding: 40px 25px;
    }
    &:hover {
      background-color: $color-primary !important;
      color: rgba($white, 0.85);
      .text-black,
      .text-primary {
        color: $white !important;
      }
      .border-top {
        border-top-color: rgba($white, 0.3) !important;
      }
    }
  }
}

// faq
.faq {
  .accordion-item {
    padding: 7px;
    box-shadow: 0px 5px 10px 5px rgba($black, 0.05);
    @include mobile {
      padding: 0;
    }
    .accordion-button {
      font-weight: 400 !important;
      span {
        color: $dark;
        transition: 0.3s;
      }
    }
  }
  .flower-1 {
    left: -22px;
    top: 30%;
  }
  .flower-2 {
    bottom: 25%;
    right: -68px;
  }
}

// footer
footer {
  background-color: rgba($color-secondary, 0.1);
  color: $text-color;
  position: relative;
}
.footer-links {
  li {
    &:not(:last-child) {
      margin-bottom: 9px;
      font-weight: 400;
    }
  }
  a {
    display: inline-block;
    color: rgba($dark, 0.8);
    &:hover {
      color: $dark;
      text-decoration: underline;
    }
  }
}
.social-links {
  li {
    margin-right: 18px !important;
    a {
      display: inline-block;
      padding: 3px;
      color: $dark;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.footer-left-image,
.footer-right-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  transform: scale(0.8);
  transform-origin: bottom;
  @include desktop-xl {
    opacity: 0.4;
  }
}
.footer-left-image {
  left: 50px;
  @include desktop {
    left: 10px;
  }
}
.footer-right-image {
  right: 50px;
  @include desktop-xl {
    right: 0;
  }
  @include mobile {
    display: none;
  }
}
.footer-bottom .border-top {
  border-color: rgba($color-primary, 0.1) !important;
}
.copyright {
  color: rgba($dark, 0.8);
  a {
    color: $dark;
    &:hover {
      color: $dark;
      text-decoration: underline;
    }
  }
}
