// banner
.banner {
  width: 1600px;
  max-width: calc(100% - 20px);
  margin: 0 auto 30px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    height: 70%;
    width: calc(100% + 60px);
    left: -30px;
    bottom: -30px;
    background-color: rgba($color-secondary, 0.1);
    z-index: -1;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .banner-slider {
    height: 760px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    @include desktop {
      height: 800px;
    }
    @include tablet {
      height: 840px;
    }
    @include mobile {
      height: 760px;
    }
    .swiper-slide {
      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba($black, 0.3);
        z-index: 1;
      }
    }
  }
  .block {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    width: 100%;
    transform: translateY(-35%);
    @include desktop {
      transform: translateY(-40%);
    }
    @include tablet {
      transform: translateY(-38%);
    }

    .quick-links {
      user-select: none;
      width: 75%;
      margin-top: 50px !important;
      position: relative;
      @include desktop-xl {
        width: 85%;
      }
      @include desktop-lg {
        width: 100%;
      }
      @include tablet {
        border-radius: 8px !important;
        margin-top: 80px !important;
        padding-left: 4px !important;
        padding-right: 6px !important;
        .btn {
          border-radius: 4px !important;
        }
      }
      @include mobile {
        flex-wrap: wrap;
        background-color: transparent !important;
        .btn {
          margin: 6px;
          margin-bottom: 8px;
          margin-left: auto;
          margin-right: auto;
        }
        .button-block {
          width: 100%;
        }
      }
      @include mobile-xs {
        .btn {
          width: 100%;
        }
      }

      .title-block {
        padding-right: 10px;
        border-right: 1px solid #e4e4e4;
        @include tablet {
          position: absolute;
          top: -44px;
          color: $white;
          border-right: 0 !important;
          margin-left: 0 !important;
          .text-black {
            color: $white !important;
          }
        }
      }

      .dropdown {
        height: 62px;
        line-height: 1.2;
        font-size: 15px;
        @include mobile {
          background-color: $white;
          border-radius: 6px;
        }
        &-menu {
          padding: 10px 20px;
          box-shadow: 0px 4px 15px 5px rgba($black, 0.1);
          &[data-bs-popper] {
            margin-top: -3px;
          }
          &[data-popper-placement="top-start"] {
            bottom: -3px !important;
          }
          &[data-popper-placement="bottom-start"] {
            top: -3px !important;
          }
          li:not(:last-child) a {
            border-bottom: 1px solid #eee;
          }
          li a {
            padding: 15px 0;
            font-size: 15px;
            .icon {
              opacity: 0;
              transform: translateX(-4px);
              transition: 0.25s;
              color: $color-primary;
            }
            &:focus,
            &:hover {
              color: $color-primary;
              background-color: transparent;
              .icon {
                opacity: 1;
                transform: translateX(0px);
              }
            }
          }
        }
      }
    }
  }
  .chakra {
    z-index: 2;
    top: 20px;
    @include desktop {
      opacity: 0.5;
    }
  }

  // swiper-pagination bullet
  .swiper-pagination {
    bottom: 20px;
    z-index: 55;
  }
}

// review-block
.review-block {
  padding: 32px 16px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 285px;
  z-index: 5;
  background-color: #96a8a1;
  @include desktop-lg {
    position: static;
    width: auto;
    margin-top: 30px;
  }
  .rating {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 25px;
    font-family: Times;
    line-height: 1;
    margin-bottom: 18px;
    &::before {
      content: "★★★★★";
      letter-spacing: 3px;
      background: linear-gradient(
        90deg,
        #fafafa var(--percent),
        #6a6a6a var(--percent)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// facts
.facts {
  .block {
    > div {
      padding: 40px;
      @include desktop-lg {
        padding: 50px 40px 45px;
      }
      @include tablet {
        padding: 50px 30px 45px;
      }
      @include mobile {
        padding: 50px 20px 45px;
      }
    }
    &:nth-child(1) > div {
      background-color: #80a9da;
    }
    &:nth-child(2) > div {
      background-color: #6fc3a3;
    }
    &:nth-child(3) > div {
      background-color: #a6ca61;
    }
  }
}

// wellness-solutions
.wellness-solutions {
  .block {
    box-shadow: 0px 5px 10px 5px rgba($black, 0.05);
    position: relative;
    transition: all 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
    &::after {
      position: absolute;
      content: "";
      height: 3px;
      width: calc(100% - 32px);
      background-color: $color-primary;
      left: 16px;
      bottom: -20px;
      transition: inherit;
      transform: scaleX(0);
      border-radius: 5px;
      @include desktop {
        bottom: -8px;
        height: 2px;
      }
    }
    img {
      transition: inherit;
      &.image-active {
        opacity: 0;
      }
    }
    &:hover {
      transform: translateY(10px);
      @include tablet {
        transform: translateY(7px);
      }
      &::after {
        transform: scaleX(1);
      }
      .image-fade {
        opacity: 0;
      }
      .image-active {
        opacity: 1;
      }
      .text-muted {
        color: $black !important;
      }
    }
  }
  .overlay-block {
    .leaf {
      bottom: 5px;
      right: -30px;
    }
  }
}

// how it works
.how-it-works {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  .overlay-block {
    height: calc(100% - (7rem + 90px));
    top: calc(7rem + 90px);
    @include tablet {
      height: calc(100% - (5.5rem + 90px));
      top: calc(5.5rem + 90px);
    }
  }

  .image-block {
    z-index: -1;
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background-color: rgba($black, 0.2);
      top: 0;
      left: 0;
      @extend .rounded;
      z-index: 1;
    }
  }

  .left-block {
    margin-top: 160px;
    margin-right: -50px;
    z-index: 9;
    position: relative;
    @include desktop {
      margin-top: 0;
      margin-right: 0;
    }
  }

  .quote {
    max-width: 75%;
    padding: 30px 60px;
    margin-top: -100px;
    z-index: 5;
    position: relative;
    margin-bottom: 15px;
    @include desktop {
      margin-top: -50px;
      max-width: 95%;
      border-radius: 16px !important;
    }
    @include tablet {
      padding: 30px;
    }
    @include mobile {
      margin-top: -10px;
      padding: 30px 20px;
    }
  }
}

// wellness-journey
.wellness-journey {
  .overlay-block {
    height: calc(90% - 130px);
    @include desktop-lg {
      height: calc(90% - 160px);
    }
    @include desktop {
      height: calc(90% - 230px);
    }
    @include mobile {
      height: calc(90% - 180px);
    }
  }
  .leaf {
    right: -40px;
    top: 40%;
    @include tablet {
      transform: scale(0.5);
    }
  }
  .journey-steps {
    position: relative;
    z-index: 5;
    padding: 55px 30px;
    max-width: calc(100% - 160px);
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.25s;
    @include tablet {
      max-width: calc(100% - 60px);
    }
    @include mobile {
      padding: 30px 20px;
      max-width: calc(100% - 30px);
      .lead {
        font-size: 16px !important;
      }
      img {
        height: 46px;
        width: 46px;
      }
    }
    @extend .shadow;
    .d-flex {
      padding: 0 30px;
      @include tablet {
        padding: 0 15px;
      }
      &:not(:last-child) {
        border-right: 1px solid $color-primary;
      }
      @include desktop-lg {
        &:nth-child(2),
        &:nth-child(4) {
          border-right: 0;
        }
      }
      @include desktop {
        border-right: 0 !important;
      }
    }
  }
}

// testimonials
.testimonials {
  .leaf {
    bottom: 20%;
    left: -20px;
  }
}
.testimonial-swiper {
  .testimonial-item {
    border: 1px solid #ddd;
    box-shadow: 0 7px 10px rgba($black, 0.03);
    .block {
      padding: 30px;
      padding-bottom: 0;
    }
  }
  .reviewer-image {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(
        90deg,
        $white 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: $white;
    border: 1px solid #ddd;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 8px;
    @include mobile {
      margin-top: 0;
    }
    &::after {
      font-size: 18px;
      color: #888;
    }
    &:hover::after {
      color: $color-primary;
    }
  }
  .swiper-button-prev {
    left: -19px;
  }
  .swiper-button-next {
    right: -19px;
  }
}

// lifetime_of_wellness
.lifetime_of_wellness {
  .overlay-block {
    height: calc(100% - (7rem + 35%));
    @include tablet {
      height: calc(100% - (5.5rem + 35%));
    }
  }
  .block {
    background-repeat: repeat !important;
    background-size: 1296px !important;
    animation: 25s bgMove infinite linear;
    background-color: $dark;
    @include tablet {
      animation-duration: 35s;
    }
    @include mobile {
      animation-duration: 45s;
    }
  }
}
@keyframes bgMove {
  100% {
    background-position: 1296px 0;
  }
}

// our locations
.our-locations {
  .overlay-block {
    height: calc(100% - (7rem + 25%));
    @include tablet {
      height: calc(100% - (5.5rem + 25%));
    }
  }
  .map-block {
    padding: 80px;
    @include tablet {
      padding: 40px;
    }
    @include mobile {
      padding: 40px 20px;
    }
  }
}
#chartdiv {
  width: 100%;
  height: 500px;
}

// holistic-doctors
.holistic-doctors {
  .overlay-block {
    height: calc(100% - (7rem + 27%));
    @include tablet {
      height: calc(100% - (5.5rem + 27%));
    }
  }
  .leaf {
    bottom: -20px;
    right: -20px;
  }
  .chakra-1 {
    bottom: 30px;
    left: 30px;
  }
  .holistic-doctors-block {
    padding: 45px 40px;
    box-shadow: 0px 5px 10px 5px rgba($black, 0.05);
    transition: 0.15s;
    @include tablet {
      padding: 40px 25px;
    }
    &:hover {
      background-color: $color-primary !important;
      color: rgba($white, 0.85);
      .text-black,
      .text-primary {
        color: $white !important;
      }
      .border-top {
        border-top-color: rgba($white, 0.3) !important;
      }
    }
  }
}

// faq
.faq {
  .accordion-item {
    padding: 7px;
    box-shadow: 0px 5px 10px 5px rgba($black, 0.05);
    @include mobile {
      padding: 0;
    }
    .accordion-button {
      font-weight: 400 !important;
      span {
        color: $dark;
        transition: 0.3s;
      }
    }
  }
  .flower-1 {
    left: -22px;
    top: 30%;
  }
  .flower-2 {
    bottom: 25%;
    right: -68px;
  }
}

// approach-steps
.approach-steps {
  .overlay-block {
    top: 0;
  }
  &-item {
    .count {
      background-color: #fae1dc;
      height: 80px;
      width: 80px;
      line-height: 80px;
      text-align: center;
      border-radius: 50%;
    }
    &:nth-child(2) {
      margin-left: -70px;
      @include desktop {
        margin-left: 0;
      }
    }
  }
}

// body-cell
.body-cell {
  .image-block {
    padding: 50px 20px;
    background-color: rgba($color-secondary, 0.1);
    @extend .pattern-bg;
  }
  .block {
    margin-left: -80px;
    @include desktop-lg {
      margin-left: -50px;
    }
    @include desktop {
      margin-left: 0;
    }
  }
}

// power-of-biological-medicine
.power-of-biological-medicine {
  .features-item {
    &-inner {
      padding: 40px 0;
      .content-block {
        margin-top: 60px;
        &::after {
          position: absolute;
          content: "";
          height: 140px;
          width: 500%;
          left: -250px;
          bottom: calc(100% + 25px);
          background-color: #f5faf2;
          border-top: 1px dashed #dedede;
          border-bottom: 1px dashed #dedede;
        }
      }
      .block {
        height: 210px;
        width: 210px;
        padding: 30px 30px 10px 30px;
        background-color: #f5faf2;
        z-index: 1;
        &::before {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          border: 1px dashed #dedede;
          border-bottom-color: transparent;
          border-right-color: transparent;
          border-radius: inherit;
          transform: rotate(45deg);
        }
        > div {
          border-radius: 50%;
          height: 100%;
          width: 100%;
          position: relative;
          z-index: 1;
          .text-black {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          &::after {
            position: absolute;
            content: "";
            height: calc(100% + 20px);
            width: 100%;
            left: 0;
            bottom: -20px;
            border-radius: 110px;
            background-color: lighten(saturate($color-primary, 23.35), 32.16);
            z-index: -1;
          }
        }
      }
    }
    &:nth-child(1) .block > div::after {
      background-color: #dce6f1;
    }
    &:nth-child(2) .block > div::after {
      background-color: #cfede0;
    }
    &:nth-child(3) .block > div::after {
      background-color: #e2f3c4;
    }
    &:nth-child(4) .block > div::after {
      background-color: #ffe3de;
    }
  }
}
.power-of-biological-medicine-2 {
  .features-item {
    &:not(:first-child) {
      margin-top: 70px;
    }
    &:not(:first-child):nth-child(odd) {
      margin-top: 120px;
      @include tablet {
        margin-top: 70px;
      }
    }
    &:last-child {
      .line-left,
      .line-right {
        display: none;
      }
    }
  }
  .line-right,
  .line-left {
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    @include mobile {
      transform: scale(0.95);
    }
  }
  .line-right {
    top: 50%;
    left: calc(100% - 12px);
    @include desktop {
      left: calc(80% - 12px);
    }
    @include tablet {
      left: 10%;
    }
  }
  .line-left {
    top: 40%;
    right: calc(100% - 12px);
    @include desktop {
      right: calc(80% - 12px);
    }
    @include tablet {
      right: 10%;
    }
  }
  .block {
    padding: 40px;
    .icon {
      position: absolute;
      height: 120px;
      width: 120px;
      background-color: #ffe3de;
      border: 15px solid $white;
      box-shadow: 0 0 25px rgba($color-primary, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      right: -50px;
      top: -50px;
      @include tablet {
        right: 0;
        top: -60px;
        transform: scale(0.7);
      }
    }
  }
  .flower-1 {
    right: 0;
    top: 60px;
    height: 98px;
    width: 102px;
    @include tablet {
      display: none;
    }
  }
  .flower-2 {
    left: 20px;
    bottom: 10%;
    height: 55px;
    width: 53px;
    @include tablet {
      display: none;
    }
  }
}

// wellness-approach
.wellness-approach {
  .overlay-block {
    height: calc(100% - (7rem + 18%));
    @include desktop {
      height: 100%;
    }
  }
  .image-block {
    padding: 40px;
    @include mobile {
      padding: 40px 25px;
    }
  }
}

// soulspring-solutions
.soulspring-solutions {
  .soulspring-solutions-link {
    font-size: 20px;
    padding: 15px 28px;
    background-color: #f5faf2;
    hr {
      background-color: transparent;
      border-top: 1px dashed #e6e6e6;
    }
    @include mobile {
      padding: 15px;
      font-size: 16px;
    }
    border-color: #dedede !important;
    .icon {
      height: 38px;
      width: 38px;
      font-size: 16px;
      background-color: #ffedea;
      transition: 0.2s;
    }
    &:hover {
      @extend .shadow;
      @extend .bg-white;
      border-color: transparent !important;
      hr {
        border-top-color: rgba($color-primary, 0.5);
      }
      .icon {
        color: $white;
        background-color: $color-primary;
      }
    }
  }
}
// soulspring-therapies-and-treatments
.soulspring-therapies-and-treatments {
  .soulspring-solutions-link {
    .icon {
      background-color: transparent;
    }
    .shape-overlay {
      opacity: 0;
      transition: 0.2s;
    }
    &:hover {
      .shape-overlay {
        opacity: 1;
      }
    }
  }
  .therapies-and-treatments-info-card {
    border-color: #dedede !important;
    transition: 0.3s;
    padding: 15px 28px;
    background-color: #f5faf2;
    .shape-overlay {
      opacity: 0;
      transition: 0.2s;
    }
    &:focus,
    &:focus-visible,
    &:hover {
      outline: none;
      @extend .shadow;
      @extend .bg-white;
      border-color: transparent !important;
      .shape-overlay {
        opacity: 1;
      }
    }
  }
}

// solutions-blocks
.solutions-blocks {
  .overlay-block {
    height: calc(100% - (7rem + 10%));
    top: calc(3rem + 22px);
    @include tablet {
      height: calc(100% - (5.5rem + 10%));
    }
  }
  .additional-info {
    z-index: 1;
    img {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      max-height: 150px;
    }
    ul {
      width: 50%;
      @include mobile {
        width: 100%;
      }
      li {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          height: 14px;
          width: 14px;
          background-color: $white;
          border: 4px solid $color-primary;
          border-radius: 50%;
          top: 8px;
          right: -22px;
          @include mobile {
            display: none;
          }
        }
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
      &.list-left {
        padding-right: 40px !important;
        @include mobile {
          padding-right: 0 !important;
        }
      }
      &.list-right {
        padding-left: 40px !important;
        @include mobile {
          padding-left: 0 !important;
        }
        li::after {
          right: auto;
          left: -22px;
        }
      }
    }
  }
}

// wellness-id
.wellness-id {
  .left-block {
    margin-right: -50px;
    position: relative;
    z-index: 5;
    @include desktop {
      margin-right: 0;
    }
  }
  .wellness-id-feature {
    position: relative;
    padding-top: 80px;
    &::after {
      position: absolute;
      content: "";
      height: 50px;
      width: 80%;
      left: 10%;
      border: 1px solid #dedede;
      border-bottom: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      @include desktop {
        height: 40px;
      }
    }
  }
  .wellness-id-feature-item {
    margin-top: 50px;
    position: relative;
    @include desktop {
      margin-top: 40px;
    }
    &::after {
      position: absolute;
      content: "";
      height: 50px;
      width: 1px;
      background-color: #dedede;
      left: 50%;
      bottom: 100%;
      @include desktop {
        height: 40px;
      }
    }
    &::before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      background-color: $color-primary;
      left: calc(50% - 5px);
      top: -56px;
      border-radius: 50%;
      z-index: 4;
      @include desktop {
        top: -46px;
      }
    }
    &:first-child::before,
    &:last-child::before,
    &:first-child::after,
    &:last-child::after {
      display: none;
      @include desktop {
        display: block;
      }
    }
    .border {
      transition: 0.3s;
      border-color: #dedede !important;
      background-color: rgba($white, 0.4);
      &:hover {
        background-color: $white;
        @extend .shadow;
      }
    }
  }
}

// call-to-action
.call-to-action {
  .block {
    position: relative;
    z-index: 1;
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 16px;
      background: linear-gradient(
        180deg,
        rgba($black, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      transform: rotateX(180deg);
      z-index: -1;
    }
  }
}

// get started
.soulspring-experience {
  .leaf {
    left: -60px;
    top: 45%;
  }
}
.understanding-bio,
.cause-of-problem {
  .block {
    padding: 70px;
    @include tablet {
      padding: 70px 30px;
    }
    @include mobile {
      padding: 60px 20px;
    }
  }
}

// wellness-report
.wellness-report {
  .block {
    position: relative;
    z-index: 5;
    padding: 55px 80px;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    margin-top: -100px;
    @include desktop {
      max-width: calc(100% - 100px);
    }
    @include tablet {
      min-width: 100%;
      margin-top: 30px;
      padding: 55px 40px;
    }
    @include mobile {
      padding: 55px 20px;
    }
  }
  .report-link {
    font-size: 18px;
    padding: 15px 28px;
    hr {
      background-color: transparent;
      border-top: 1px dashed $color-primary;
    }
    @include mobile {
      padding: 15px;
      font-size: 16px;
    }
    border-color: #dedede !important;
    .icon {
      height: 38px;
      width: 38px;
      font-size: 16px;
      background-color: $color-primary;
      transition: 0.2s;
      color: $white;
    }
    &:hover {
      @extend .shadow;
      border-color: transparent !important;
    }
  }
}

// initially-expects
.initially-expects {
  .block {
    position: relative;
    z-index: 5;
    padding: 55px 60px;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    @include desktop {
      max-width: calc(100% - 100px);
    }
    @include tablet {
      min-width: 100%;
      margin-top: 30px;
      padding: 55px 20px;
    }
    @include mobile {
      padding: 55px 20px;
    }
  }
  .leaf {
    right: -50px;
  }
  .feature-item {
    > div {
      padding: 0 10px;
      position: relative;
      @include mobile {
        padding: 0;
      }
      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        right: -12px;
        bottom: 0;
        background-color: #dadada;
        @include desktop-lg {
          height: 1px;
          width: 100%;
          right: 0;
          bottom: -15px;
        }
      }
    }
    &:last-child > div {
      &::after {
        display: none;
      }
    }
  }
}

// holistic_health
.holistic-health {
  .image-block {
    padding: 0 20px;
    background-color: rgba($color-secondary, 0.1);
    @extend .pattern-bg;
  }
  .block {
    position: relative;
    z-index: 5;
    margin-right: -80px;
    @include desktop-lg {
      margin-right: -50px;
    }
    @include desktop {
      margin-right: 0;
    }
  }
}

// why-soulspring
.why-soulspring {
  .review-block {
    bottom: 140px;
  }
  .leaf {
    left: -60px;
    top: 45%;
  }
  .soulspring-features {
    position: relative;
    z-index: 5;
    padding: 55px;
    max-width: calc(100% - 160px);
    margin: 0 auto;
    margin-top: -100px;
    transition: 0.25s;
    @include desktop-lg {
      margin-top: 30px;
      max-width: 100%;
    }
    @include tablet {
      padding: 55px 40px;
    }
    .block {
      padding: 0 30px;
      &:not(:last-child) {
        border-right: 1px solid #ddd;
      }
      @include desktop-lg {
        &:nth-child(2) {
          border-right: 0;
        }
      }
      @include desktop {
        padding: 0;
        border: 0 !important;
      }
    }
  }
}

// individual-bio-wellness-solutions
.individual-bio-wellness-solutions {
  .block {
    .image {
      background-color: #f5faf2;
    }
  }
}

// comparison-table
.pie {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 4px 25px #ddd;
  &.zero {
    background-color: #ffdcdc;
  }
}
.comparison-table {
  background-color: #f5faf2;
  .pie {
    @include desktop {
      width: 36px;
      height: 36px;
    }
  }
  .c-row {
    &:not(:last-child) {
      border-bottom: 1px solid #ececec;
    }
    display: flex;
    @include desktop {
      flex-wrap: wrap;
    }
    .c-column {
      padding: 15px 10px;
      flex-basis: calc(72% / 5);
      &:nth-child(1) {
        padding: 15px 25px;
        flex-basis: 28%;
        @include desktop {
          flex-basis: 100%;
        }
      }
      &:not(:last-child) {
        border-right: 1px solid #ececec;
      }
      &:not(:nth-child(1)) {
        display: flex;
        align-items: center;
        justify-content: center;
        @include desktop {
          flex-basis: 50%;
        }
        @include tablet {
          flex-basis: 100%;
        }
      }
      @include desktop {
        &-inner {
          width: 90%;
          img {
            max-width: 100px;
          }
        }
        padding: 10px;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
      }
    }
  }
}

// ancient-healing
.ancient-healing {
  .block {
    padding: 60px 20px;
  }
  .content-block {
    @include mobile {
      padding: 30px 20px !important;
    }
  }
  .leaf-image {
    max-width: 150px;
    margin-left: -16px;
    @include mobile {
      max-width: 100px;
      margin-left: -10px;
    }
  }
  .leaf-rotate {
    margin: auto;
    max-width: 200px;
    margin-top: -12px;
  }
  .reviews {
    padding: 50px;
    svg {
      position: absolute;
      margin-left: -30px;
      margin-top: -40px;
    }
    .rounded-circle {
      overflow: hidden;
      border: 2px solid $color-primary;
    }
  }
}

// meet-doctors
.meet-doctors {
  .review-block {
    background-color: transparent;
    .rating::before {
      content: "★★★★★";
      letter-spacing: 3px;
      background: linear-gradient(
        90deg,
        $color-primary var(--percent),
        #6a6a6a var(--percent)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// footer
footer {
  background-color: rgba($color-secondary, 0.1);
  color: $text-color;
  position: relative;
}
.footer-links {
  li {
    &:not(:last-child) {
      margin-bottom: 9px;
      font-weight: 400;
    }
  }
  a {
    display: inline-block;
    color: rgba($dark, 0.8);
    &:hover {
      color: $dark;
      text-decoration: underline;
    }
  }
}
.social-links {
  li {
    margin-right: 18px !important;
    a {
      display: inline-block;
      padding: 3px;
      color: $dark;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.footer-left-image,
.footer-right-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  transform: scale(0.8);
  transform-origin: bottom;
  @include desktop-xl {
    opacity: 0.4;
  }
}
.footer-left-image {
  left: 50px;
  @include desktop {
    left: 10px;
  }
}
.footer-right-image {
  right: 50px;
  @include desktop-xl {
    right: 0;
  }
  @include mobile {
    display: none;
  }
}
.footer-bottom .border-top {
  border-color: rgba($color-primary, 0.1) !important;
}
.copyright {
  color: rgba($dark, 0.8);
  a {
    color: $dark;
    &:hover {
      color: $dark;
      text-decoration: underline;
    }
  }
}

// scroll-to-position
.scroll-to-position {
  position: fixed;
  bottom: -40px;
  right: 30px;
  z-index: 9999;
  transition: 0.2s;
  &.visible {
    bottom: 40px;
    display: block;
  }
  button {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    box-shadow: 2px 8px 25px -4px rgba(#2a2e2e, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    color: $white;
    background-color: $color-primary;
    outline: none;
    &.show {
      display: block;
    }
    svg {
      display: inline;
    }
  }
}

.about-doctors {
  .video-thumbnail {
    border-radius: 0 0.5rem 0.5rem 0;
    @include desktop {
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }
  .leaf {
    top: 60%;
    right: -50px;
    z-index: 1;
    @include desktop {
      top: 30%;
    }
  }
}

.advisory-board {
  .leaf {
    bottom: 10%;
    left: -30px;
    z-index: 1;
  }
}

.hiring {
  .image {
    border-radius: 0.5rem 0 0 0.5rem;
    @include desktop {
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }
  .leaf {
    top: 60%;
    right: -50px;
    z-index: -1;
    @include desktop {
      top: 30%;
    }
  }
}

.about-us {
  .video-thumbnail {
    border-radius: 0 0.5rem 0.5rem 0;
    @include desktop {
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }
  .leaf {
    top: 60%;
    left: -50px;
    z-index: 1;
    @include desktop {
      top: 30%;
    }
  }
}

.mission {
  .leaf {
    top: 60%;
    right: -50px;
    z-index: 1;
    @include desktop {
      top: 30%;
    }
  }
}

.purpose {
  .image-block {
    position: relative;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .image-content {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #96a8a1;
    color: $white;
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 90%;
    margin-bottom: 0;
  }
}

.team-card {
  &:not(:last-child) {
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
  &:nth-child(3) {
    border-right-color: transparent;
  }
  &:nth-child(4) {
    border-bottom-color: transparent;
  }
  &:nth-child(5) {
    border-bottom-color: transparent;
  }
  .designation {
    color: $color-primary;
    font-size: 0.8rem;
  }
  @include desktop {
    &:nth-child(2) {
      border-right-color: transparent;
    }
    &:nth-child(3) {
      border-right-color: #dedede;
    }
    &:nth-child(4) {
      border-right-color: transparent;
      border-bottom-color: #dedede;
    }
  }
  @include tablet {
    border-right-color: transparent !important;
  }
}

.investor-card {
  margin-bottom: 3rem;
  &:not(:last-child) {
    border-right: 1px solid #dedede;
  }
  @include desktop-lg {
    &:nth-child(3) {
      border-right-color: transparent;
    }
  }
  @include desktop {
    &:nth-child(2) {
      border-right-color: transparent;
    }
    &:nth-child(3) {
      border-right-color: #dedede;
    }
    &:nth-child(4) {
      border-right-color: transparent;
    }
  }
  @include tablet {
    border-right-color: transparent !important;
    &:not(:last-child) {
      border-bottom: 1px solid #dedede !important;
    }
  }
}

.community {
  .leaf {
    position: absolute;
    top: 60%;
    right: -20px;
    z-index: 1;
    @include desktop {
      top: 30%;
    }
  }
}
