// banner
.banner {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  .banner-slider {
    height: 710px;
    @include tablet {
      height: 780px;
    }
    @include mobile {
      height: 620px;
    }
    .swiper-slide {
      background-attachment: fixed;
      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba($black, 0.3);
        z-index: 1;
      }
    }
  }
  .block {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    width: 100%;
    transform: translateY(-50%);

    .quick-links {
      user-select: none;
      width: 75%;
      margin-top: 50px !important;
      position: relative;
      @include desktop-xl {
        width: 85%;
      }
      @include desktop-lg {
        width: 100%;
      }
      @include tablet {
        border-radius: 8px !important;
        margin-top: 80px !important;
        padding-left: 4px !important;
        padding-right: 6px !important;
        .btn {
          border-radius: 4px !important;
        }
      }
      @include mobile {
        flex-wrap: wrap;
        background-color: transparent !important;
        .btn {
          margin: 6px;
          margin-bottom: 8px;
          margin-left: auto;
          margin-right: auto;
        }
        .button-block {
          width: 100%;
        }
      }
      @include mobile-xs {
        .btn {
          width: 100%;
        }
      }

      .title-block {
        padding-right: 10px;
        border-right: 1px solid #e4e4e4;
        @include tablet {
          position: absolute;
          top: -44px;
          color: $white;
          border-right: 0 !important;
          margin-left: 0 !important;
          .text-black {
            color: $white !important;
          }
        }
      }

      .dropdown {
        height: 62px;
        line-height: 1.2;
        @include mobile {
          background-color: $white;
          border-radius: 6px;
        }
        &-menu {
          padding: 14px 0;
          box-shadow: 0px 4px 15px 5px rgba($black, 0.1);
          &[data-popper-placement="top-start"] {
            bottom: -3px !important;
          }
          &[data-popper-placement="bottom-start"] {
            top: -3px !important;
          }
          li a {
            padding: 12px 22px;
            &:focus,
            &:hover {
              color: $black;
              background-color: rgba($color-primary, 0.1);
            }
          }
        }
      }
    }
  }
  .chakra {
    z-index: 2;
    @include desktop {
      opacity: 0.5;
    }
  }

  // review-block
  .review-block {
    padding: 32px 16px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 285px;
    z-index: 5;
    @include desktop-lg {
      position: static;
      width: auto;
      margin-top: 30px;
    }
    .rating {
      --percent: calc(var(--rating) / 5 * 100%);
      display: inline-block;
      font-size: 25px;
      font-family: Times;
      line-height: 1;
      margin-bottom: 18px;
      &::before {
        content: "★★★★★";
        letter-spacing: 3px;
        background: linear-gradient(
          90deg,
          #fafafa var(--percent),
          #6a6a6a var(--percent)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  // swiper-pagination bullet
  .swiper-pagination {
    bottom: 20px;
    z-index: 55;
  }
}

// facts
.facts {
  .block {
    > div {
      padding: 40px;
      @include desktop-lg {
        padding: 50px 40px 45px;
      }
      @include tablet {
        padding: 50px 30px 45px;
      }
      @include mobile {
        padding: 50px 20px 45px;
      }
    }
    &:nth-child(1) > div {
      background-color: $color-secondary;
    }
    &:nth-child(2) > div {
      background-color: $color-primary;
    }
    &:nth-child(3) > div {
      background-color: $color-tertiary;
    }
  }
}

// wellness-solutions
.wellness-solutions {
  .block {
    box-shadow: 0px 5px 10px 5px rgba($black, 0.05);
    position: relative;
    transition: all 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
    &::after {
      position: absolute;
      content: "";
      height: 3px;
      width: calc(100% - 32px);
      background-color: $color-primary;
      left: 16px;
      bottom: -10px;
      transition: inherit;
      transform: scaleX(0);
      border-radius: 5px;
    }
    img {
      transition: inherit;
      &.image-active {
        opacity: 0;
      }
    }
    &:hover {
      transform: translateY(10px);
      @include tablet {
        transform: translateY(7px);
      }
      &::after {
        transform: scaleX(1);
      }
      .image-fade {
        opacity: 0;
      }
      .image-active {
        opacity: 1;
      }
    }
  }
}

// how it works
.how-it-works {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: lighten(
    desaturate(adjust-hue($color-primary, -11), 22.14),
    38.43
  );

  .left-block {
    margin-right: -50px;
    z-index: 9;
    position: relative;
    @include desktop {
      margin-top: 0;
      margin-right: 0;
    }
  }

  .quote {
    max-width: 75%;
    padding: 30px 60px;
    margin-top: -100px;
    z-index: 5;
    position: relative;
    @include desktop {
      margin-top: -50px;
      max-width: 95%;
      border-radius: 16px !important;
    }
    @include tablet {
      padding: 30px;
    }
    @include mobile {
      margin-top: -10px;
      padding: 30px 20px;
    }
  }
}

// testimonials
.testimonial-swiper {
  .testimonial-item {
    border: 1px solid #ddd;
    box-shadow: 0 7px 10px rgba($black, 0.03);
  }
  .reviewer-image {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(
        90deg,
        $white 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: $white;
    border: 1px solid #ddd;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 8px;
    @include mobile {
      margin-top: 0;
    }
    &::after {
      font-size: 18px;
      color: #888;
    }
    &:hover::after {
      color: $color-primary;
    }
  }
  .swiper-button-prev {
    left: -19px;
  }
  .swiper-button-next {
    right: -19px;
  }
}

// lifetime_of_wellness
.lifetime_of_wellness {
  background-repeat: repeat !important;
  background-size: 750px !important;
  animation: 25s bgMove infinite linear;
  @include tablet {
    animation-duration: 35s;
  }
  @include mobile {
    animation-duration: 45s;
  }
}
@keyframes bgMove {
  100% {
    background-position: 1500px 0;
  }
}

// holistic-doctors
.holistic-doctors-block {
  padding: 45px 40px;
  box-shadow: 0px 5px 10px 5px rgba($black, 0.05);
  @include tablet {
    padding: 40px 25px;
  }
}

// faq
.faq {
  .accordion-item {
    padding: 7px;
    box-shadow: 0px 5px 10px 5px rgba($black, 0.05);
    @include mobile {
      padding: 0;
    }
    .accordion-button {
      font-weight: 400 !important;
      span {
        color: rgba($text-color, 0.7);
        transition: 0.3s;
      }
      &:not(.collapsed) {
        span {
          color: $dark;
        }
      }
    }
  }
}

// footer
footer {
  background-color: #1d4885;
}
.footer-links {
  li {
    &:not(:last-child) {
      margin-bottom: 9px;
      font-weight: 400;
    }
  }
  a {
    display: inline-block;
    color: rgba($white, 0.8);
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}
.social-links {
  li {
    margin-right: 18px !important;
    a {
      display: inline-block;
      padding: 3px;
      color: $white;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.footer-bottom .border-top {
  border-color: rgba(#c0bcbc, 0.2) !important;
}
.copyright {
  color: #ddd;
  a {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}
