{{ define "main" }}

{{ with .Params.wellness_approach }}
{{ if .enable }}
<section class="section pb-lg-3 has-overlay wellness-approach overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto text-center mb-5">
        <h2 class="h3 fw-bold mb-4">{{.title | markdownify}}</h2>
        <hr class="text-primary opacity-100 mb-4 mx-auto" style="width:48px;height:2px;">
        <p>{{.subtitle | markdownify}}</p>
      </div>
    </div>
    <div class="row gy-5 justify-content-center align-items-center">
      <div class="col-lg-6 text-center">
        <div class="image-block bg-white d-inline-block mx-auto rounded shadow">
          {{ partial "image.html" (dict "Src" .image "Alt" (.title | markdownify) "Webp" false "Resize" false) }}
        </div>
      </div>
      <div class="col-lg-5">
        <div class="d-flex align-items-center justify-content-center text-center text-lg-start mb-0 mb-lg-5">
          <div>
            <h2 class="h3 fw-bold mb-4 lh-sm">{{.content.title | markdownify}}</h2>
            <hr class="text-primary opacity-100 mb-0 mx-auto ms-lg-0" style="width:48px;height:2px;">
          </div>
          {{ partial "image.html" (dict "Src" "images/solutions/leaf.svg" "Alt" "*" "Class" "d-none d-lg-block" ) }}
        </div>
      </div>
    </div>
  </div>

  <div class="overlay-block">
    {{ partial "image.html" (dict "Src" "images/chakra-lg-left.svg" "Alt" "*" "Class" "position-absolute top-50 translate-middle-y start-0 d-none d-sm-block" ) }}
    {{ partial "image.html" (dict "Src" "images/chakra-sm-right.svg" "Alt" "*" "Class" "position-absolute top-50 translate-middle-y end-0" ) }}
  </div>
</section>
{{ end }}
{{ end }}

{{ with .Params.soulspring_solutions }}
{{ if .enable }}
<section class="section pb-0 soulspring-solutions has-overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto text-center mb-4 pb-2">
        <h2 class="h3 fw-bold mb-4">{{.title | markdownify}}</h2>
        <hr class="text-primary opacity-100 mb-4 mx-auto" style="width:48px;height:2px;">
        <p>{{.subtitle | markdownify}}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row gy-4">
          {{ range .solutions }}
          <div class="col-md-6">
            <a class="soulspring-solutions-link d-flex align-items-center text-dark rounded-sm border mb-0 mb-lg-2" href="#{{.title | urlize | lower}}">
              <span class="d-flex align-items-center flex-shrink-0">
                {{ partial "image.html" (dict "Src" .icon "Alt" "*") }}
                <span class="lh-1 ms-2">{{ .title | markdownify }}</span>
              </span>
              <span class="flex-grow-1 px-3"><hr class="opacity-50" style="background:#DEDEDE"></span>
              <i class="flex-shrink-0 icon rounded-circle fas fa-arrow-down d-flex align-items-center justify-content-center"></i>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- divider -->
{{ partial "components/divider.html" . }}
<!-- end divider -->

{{ range $i, $e := .solutions }}
{{ if gt $i 0 }}
{{ partial "components/divider-vertical.html" }}
{{ end }}
<section id="{{.title | urlize | lower}}" class="pt-5 mt-3 has-overlay has-overlay-bgi solutions-blocks">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 mx-auto text-center mb-5">
        <h2 class="h3 fw-bold mb-4">{{.title | markdownify}}</h2>
        <hr class="text-primary opacity-100 mb-4 mx-auto" style="width:48px;height:2px;">
        <p class="mb-0">{{.subtitle | markdownify}}</p>
      </div>
    </div>
    <div class="rounded overflow-hidden bg-white shadow">
      <div class="row gx-0 align-items-center">
        <div class="col-lg-6 {{ if not (modBool $i 2) }}order-0 order-lg-1{{end}}">
          {{ partial "image.html" (dict "Src" .image "Alt" (.title | markdownify) "Resize" false "Class" "w-100" ) }}
        </div>
        <div class="col-lg-6 text-center py-5 py-lg-0">
          {{ with .additional_info }}
          <h3 class="h4 fw-bold mb-4">{{.title | markdownify}}</h3>
          <hr class="text-primary opacity-100 mb-4 mx-auto" style="width:48px;height:2px;">
          <div class="additional-info position-relative my-4 pt-2 pb-3">
            {{ partial "image.html" (dict "Src" "images/solutions/soulspring.svg" "Alt" "*" "Class" "position-absolute h-100" )}}

            <div class="features-lists d-block d-sm-flex justify-content-center">
              {{ $listRange := math.Round (div (len .lists) 2.0) }}

              <ul class="list-unstyled px-2 list-left mb-3 mb-md-0 text-center text-sm-end">
                {{ range first $listRange .lists }}
                <li>{{. | markdownify}}</li>
                {{ end }}
              </ul>

              <ul class="list-unstyled px-2 list-right mb-0 text-center text-sm-start">
                {{ range $i, $e := .lists }}
                  {{ if gt $i (sub $listRange 1) }}
                  <li>{{. | markdownify}}</li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
          {{ with .button }}
          <a class="btn btn-primary" href="{{.link | relURL }}">{{.label | markdownify}}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-block"></div>
</section>
{{ end }}


{{ end }}
{{ end }}

<!-- divider -->
<section class="section-sm pt-0">
  {{ partial "components/divider.html" . }}
</section>
<!-- end divider -->

{{ end }}